/* ==========================================
   可重用 UI 元件
   ========================================== */

/* 忽略 component-dom 容器 */
.component-dom {
	display: contents;
}

/* ==========================================
   按鈕組件
   ========================================== */
button {
	font-size: var(--sys-btn-font-size);
	color: var(--sys-btn-color);
	transition: var(--sys-btn-transition);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
button:active,
/* .is-pressed 由JS手動控制，用於呈現按鈕動畫完成才觸發動作的效果 */
button.is-pressed {
	color: var(--sys-btn-active-color);
	transform: var(--sys-btn-active-transform);
	font-size: var(--sys-btn-active-font-size);
}
button.disabled {
	opacity: 0.5; /* 視覺上顯示停用 */
	pointer-events: none; /* 禁止點擊與 hover */
	transform: none; /* 取消按下時的變形 */
	box-shadow: none;
}

/* toolbar */
button.sys-btn-toolbar {
	min-width: var(--sys-btn-toolbar-min-width);
	min-height: var(--sys-btn-toolbar-min-height);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: var(--sys-btn-toolbar-line-height);
}

button.sys-btn-title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
button.sys-btn-title.left {
	grid-area: left;
}
button.sys-btn-title.right {
	grid-area: right;
}

/* ==========================================
   卡片組件
   ========================================== */

/* ==========================================
   圖標組件
   ========================================== */

/* ==========================================
   表單組件
   ========================================== */

/* ==========================================
   文字框組件
   ========================================== */
label.sys-label {
	flex: 1 1 auto;
	display: flex;
	padding: var(--sys-label-padding);
	align-items: center;
	justify-content: flex-start;
}

label.sys-label-header-title {
	grid-area: title;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
/* ==========================================
   輸入框組件
   ========================================== */
input.sys-input {
	flex: 1 1 auto;
	background-color: var(--sys-input-bg-color);
	padding: var(--sys-input-padding);
	border-radius: var(--sys-input-border-radius);
}
/* input.sys-input[type="datetime-local"] {
  width: auto;
} */
/* ==========================================
   面板組件
   ========================================== */
.sys-menu-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
