/* ==========================================
   全域重置與基礎規則
    -reset (Normalize)
    -字體定義
    -基礎行為
   ========================================== */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: var(
		--sys-font-family,
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		"Noto Sans",
		Arial,
		sans-serif
	);
	font-weight: var(--sys-body-font-weight);
	background: var(--sys-body-bg);
	color: var(--sys-body-color);
	padding: var(--sys-body-padding);
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	/* 針對一些瀏覽器的UI優化設定 */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* 去掉列表預設樣式 */
ul,
ol {
	list-style: none;
}

/* 去掉連結預設行為 */
a {
	text-decoration: none;
	color: inherit;
}

/* 去掉表單元素差異 */
button,
input,
textarea,
select {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
}

img {
	display: block;
	max-width: 100%;
}

.strong,
strong {
	font-weight: var(--sys-strong-font-weight);
}
