/* ==========================================
   統一布局容器樣式
   ========================================== */

/* 忽略 module layout 容器 */
.module_display_layout {
	display: contents;
}
/* 忽略 component-dom 容器 */
.component-dom {
	display: contents;
}
.hidden {
	display: none !important;
}
.contents {
	display: contents !important;
}

/* 原則上一切layout都是#app的flex-items */
#app {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	/* border: var(--sys-border-sm) hidden var(--sys-text-secondary); */
	/* border-radius: var(--sys-radius-sm); */
	overflow: hidden;
}

/* ==========================================
   上方工具列樣式
   ========================================== */
header {
	background: var(--sys-header-bg);
	color: var(--sys-header-color);
	border-bottom: var(--sys-header-border-bottom);
	padding-top: 5px;
	flex: 0 0 6.5vh;
	overflow: hidden;
}

/* toolbar */
header.sys-header-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
header.sys-header-toolbar > * {
	flex: 1;
	min-width: 0;
}

header.sys-header-title.btns2 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-areas: "left left title title title title title title right right";
	align-items: center;
	gap: 0.5rem;
}
/* ==========================================
   中間主欄位樣式
   ========================================== */
main {
	background: var(--sys-main-bg);
	color: var(--sys-main-color);
	flex: 1;
	padding-left: var(--sys-main-padding);
	padding-right: var(--sys-main-padding);
}
main.sys-content {
	overflow: auto;
	min-height: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}
/* ==========================================
   下方工具列樣式
   ========================================== */
footer {
	background: var(--sys-footer-bg);
	color: var(--sys-footer-color);
	border-top: var(--sys-footer-border-top);
	padding-bottom: 5px;
	overflow: hidden;
	flex: 0 0 6.5vh;
}
footer.sys-footer-toolbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
footer.sys-footer-toolbar > * {
	flex: 1;
	min-width: 0;
}
